<ion-header class="ion-no-border header_nitin">
  <ion-toolbar >
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="loogin" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
<ion-card-header>
    <ion-card-title>
     SIGNUP
</ion-card-title>
<ion-card-subtitle>
  CREATE YOUR FREE ACCOUNT TO SIGN UP
  </ion-card-subtitle>
</ion-card-header>
  <ion-card-content>
    <div class="wrapform">
      <ion-item>
        <ion-input type="text" name="name" [(ngModel)]="name" placeholder="PROFILE NAME" required></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input type="number" name="phone-number" [(ngModel)]="password" placeholder="PHONE NO." required></ion-input>
       <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="email" [(ngModel)]="email" placeholder="EMAIL" required></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
    </div>
    <div class="sign-btn-wrap">
<ion-button shape="round" fill="solid" class="sign-btn-page">SignUp</ion-button>
    </div>

    <div class="text-tag">
      <span>
        SignUp With Social Media
      </span>
    </div>

       <div class="social-btns">
    <ion-button fill="clear" class="facebookloginbtn ion-no-padding">
    <ion-img src="assets/Images/facebook.png"></ion-img>
    </ion-button>
     <ion-button fill="clear" class="googleloginbtn ion-no-padding">
    <ion-img src="assets/Images/google.png"></ion-img>
    </ion-button>
     <ion-button fill="clear" class="appleloginbtn ion-no-padding">
    <ion-img src="assets/Images/apple.png"></ion-img>
    </ion-button>
     </div>
  </ion-card-content>

</ion-content>
