<ion-header class="ion-no-border header_nitin">
  <ion-toolbar >
   <!-- <ion-title>loginscreen</ion-title> -->
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="loogin" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/Images/header1.png"></ion-img>

  </ion-card>

  <ion-card-content>
    <div class="wrapform">
      <ion-item>
        <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Email" required></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input type="password" name="password" [(ngModel)]="password" placeholder="**********" required></ion-input>
       <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
    </div>
    <div class="password_forgot">
      <ion-button fill="clear" class="ion-no-padding">Forgot Password?</ion-button>
    </div>
    <div class="sign-btn-wrap">
<ion-button shape="round" fill="solid" class="sign-btn">Login</ion-button>
    </div>

    <div class="text-tag">
      <span>
        LogIn With Social Media
      </span>
    </div>

       <div class="social-btns">
    <ion-button fill="clear" class="facebookloginbtn ion-no-padding">
    <ion-img src="assets/Images/facebook.png"></ion-img>
    </ion-button>
     <ion-button fill="clear" class="googleloginbtn ion-no-padding">
    <ion-img src="assets/Images/google.png"></ion-img>
    </ion-button>
     <ion-button fill="clear" class="appleloginbtn ion-no-padding">
    <ion-img src="assets/Images/apple.png"></ion-img>
    </ion-button>
     </div>

     <div class="sign-in-no-account">
    <ion-card-subtitle class="ion-text-lowercase">
  Don't Have an Account? 
  </ion-card-subtitle>
     <ion-button [routerLink]="['/signup']" size="small" fill="outline" shape="round" color="dark">
       SignIn
       </ion-button>
    </div>

  </ion-card-content>

</ion-content>
