ion-header{
	position: absolute;
	}

ion-toolbar{
	--ion-background-color: transparent;
	--opacity: 0;
}

ion-content{
	--ion-background-color:#E1EAF9;
}

.wrapform{
	margin-top: 15px;
}

ion-item{
color: #74787E;
--border-color: #D407D8;
--highlight-color-focused:#647890;
--padding-start: 0;
--inner-padding-end: 0;
font-size: 18px;
	ion-input{
	color: #647890;
	}
}

.password_forgot{
	text-align: right;
	ion-button{
	font-size: 12px;
	}
}

.sign-btn-wrap{
	text-align:center;
	padding-top: 20px;
	.sign-btn{
	--ion-primary-color: #215AB7;
	color:#F4F6FA;
	}
}

.text-tag{
  margin-top: 30px;
  text-align: center;
  span{
  font-size: 18px;
  font-weight: normal;
  color: #898585;
  }
}

.social-btns{
margin-top: 25px;
  text-align: center;
  ion-button{
  width:40px;
  padding-left: 5px !important;
  }
}

ion-card{
	--ion-background-color: transparent;
	box-shadow: none !important;
}

.sign-in-no-account{
	padding-top: 20px;
	text-align: center;
}