ion-content{
  --ion-background-color: #E1EAF9;
}

ion-toolbar{
 --ion-background-color: transparent;
 --opacity: 0;
}

ion-card-title{
  margin-top: 30px;
  font-size: 28px;
  color:#080808;
  text-align:center;
  font-weight: 600;
}

ion-card-subtitle{
  padding-top: 15px;
  font-size: 18px;
  color: #898585;
  text-align:center;
  font-weight: 300;
}

ion-header{
  position: absolute;
}

ion-card{
  --ion-background-color: transparent;
  box-shadow: none !important;
}

ion-button{
  font-size: 18px;
}

.signin-btns{
  margin-top: 25px;
  text-align: center;
  color: #F0F4FA
}

.loginbtn{
  --ion-color-primary: #215AB7
}

.text-tag{
  margin-top: 40px;
  text-align: center;
  span{
  font-size: 18px;
  font-weight: normal;
  color: #898585;
  }
}

.social-btns{
  text-align: center;
  ion-button{
  width:40px;
  padding-left: 5px !important;
  }
}