<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--<ion-title>Login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="ion-no-margin">
  <ion-img src="assets/Images/header.png"></ion-img>
  <ion-card-header>
    <ion-card-title>
      Welcome
</ion-card-title>
<ion-card-subtitle class="ion-text-lowercase">
  Make Your Jorney Easy 
  By Sharing Your Ride 
  </ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  <div class="signin-btns">
    <ion-button [routerLink]="['/loginscreen']" size="small" fill="solid" shape="round" >
      LogIn
    </ion-button>
     <ion-button [routerLink]="['/signup']" size="small" fill="outline" shape="round" color="dark">
       SignIn
       </ion-button>
     </div>
     <div class="text-tag">
      <span>
        Join US On Social Media
      </span>
    </div>

       <div class="social-btns">
    <ion-button fill="clear" class="facebookloginbtn ion-no-padding">
    <ion-img src="assets/Images/facebook.png"></ion-img>
    </ion-button>
     <ion-button fill="clear" class="googleloginbtn ion-no-padding">
    <ion-img src="assets/Images/google.png"></ion-img>
    </ion-button>
     <ion-button fill="clear" class="appleloginbtn ion-no-padding">
    <ion-img src="assets/Images/apple.png"></ion-img>
    </ion-button>
     </div>
  </ion-card-content>

</ion-card>

</ion-content>